<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzyc.wms.dao.DictMapper">
	<select id="getCodeByType" resultType="dict">
		<![CDATA[
		SELECT 
			id, dict_type AS dictType, dict_code AS dictCode, dict_Name AS dictName
		FROM shxt_dict
			WHERE dict_type=#{dictType}
		ORDER BY DICT_CODE
		]]>
	</select>
	
	<select id="getCodeType" resultType="java.lang.String">
		<![CDATA[
		SELECT 
			distinct dict_type
		FROM shxt_dict
		]]>
	</select>
	
</mapper>  