<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzyc.wms.dao.UserMapper">
	<insert id="add" parameterType="user" useGeneratedKeys="true" keyProperty="id">
		insert into users(id, userName, pwd, sex, birthday)
		values(#{id}, #{userName}, #{pwd}, #{sex}, #{birthday})
	</insert>
	
	<select id="query" parameterType="userVo" resultType="user">
		select 
			id, userName, pwd, sex, birthday
		from users
		<where>
			<if test="u.userName!=null and u.userName!=''">
				<bind name="nameParam" value="'%' + u.getUserName() + '%'" />
				and userName like #{nameParam}
			</if>
			<if test="u.startDate!=null and u.startDate!=''">
				<![CDATA[ and birthday >=#{u.startDate}]]>
			</if>
			<if test="u.endDate!=null and u.endDate!=''">
				<![CDATA[ and birthday <=#{u.endDate}]]>
			</if>
			<if test="u.sex!=null and u.sex!=''">
				and sex = #{u.sex}
			</if>
		</where>
		<if test="orderStr!=null and orderStr!=''">
			order by ${orderStr}
		</if>
	</select>
	
	<select id="get" parameterType="userVo" resultType="user">
		select 
			id, userName, pwd, sex, birthday
		from users
			where id = #{id}
	</select>
	
	<update id="update" parameterType="user">
		update 
			users
		set 
			userName = #{userName}, pwd = #{pwd}, sex = #{sex}, birthday = #{birthday}
		where id = #{id}
	</update>
</mapper>
